<footer class="footer-container">
  <div class="container footer-container__logo">
    <a routerLink="/home">sMovies</a> 
  </div>
  <div class="container footer-container__content">
    <div class="footer-container__content__list">
      <!-- <div> 
        <a href="">Home</a>
        <a href="">Contact Us</a>
        <a href="">Term of service</a>
        <a href="">About us</a>
      </div>
      <div> 
        <a href="">Live</a>
        <a href="">FAQ</a>
        <a href="">Premium</a>
        <a href="">Policy</a>
      </div> -->
      <div> 
        <a href="https://www.facebook.com/sondev811/" target="_blank">Facebook</a>
        <a href="https://github.com/sondev811/smovies" target="_blank">Source this project</a>
        <p>Powered by<a href="https://github.com/sondev811" target="_blank"> Sondev</a></p>
        <p>Views count: {{viewsCount}}</p>
      </div>
    </div>
  </div>
</footer>
