<header class="header-container container-fluid" id="headerShrink">
  <div class="header-wrap row">
    <div class="logo-container">
      <a routerLink="/home">sMovies</a> 
    </div>
    <nav class="menu-container">
      <ul>
        <li [ngClass]="{active: activeMenu === menu.HOME}" (click)="clickMenu(menu.HOME)">
          <a>{{menu.HOME}}</a>
        </li>
        <li [ngClass]="{active: activeMenu === menu.MOVIES}" (click)="clickMenu(menu.MOVIES)">
          <a>{{menu.MOVIES}}</a>
        </li>
        <li [ngClass]="{active: activeMenu === menu.TV_SERIES}" (click)="clickMenu(menu.TV_SERIES)">
          <a>{{menu.TV_SERIES}}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div id="toTop" class="scroll-top" (click)="goToTop()">
  <i class='bx bx-chevron-up'></i>
</div>