<header class="header-container container-fluid" id="headerShrink">
  <div class="header-wrap row">
    <div class="logo-container">
      <a routerLink="/home">sMovies</a> 
    </div>
    <nav class="menu-container">
      <ul>
        <li routerLinkActive="active">
          <a routerLink="/home">{{menu.HOME}}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/movies">{{menu.MOVIES}}</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/tv-series">{{menu.TV_SERIES}}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<div id="toTop" class="scroll-top" (click)="goToTop()">
  <i class='bx bx-chevron-up'></i>
</div>