@import '../../../../scss/mixin.scss';
@import '../../../../scss/variable.scss';
.header {
    @include tablet {
        height: 66vh;
    }
    height: 85vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    @include flex(center, center);
    &::before {
        width: 100%;
        height: 100%;
        content: '';
        background-image: linear-gradient(to top, #0f0f0f, rgba($color: #000000, $alpha: .5));
        top: 0;
        left: 0;
        position: absolute;
    }
    h2 {
        position: relative;
        z-index: 10;
        padding-top: 5rem;
        font-size: 2rem;
        font-weight: 600;
    }
}
.movie-content {
    @include tablet {
        margin-top: -35.5rem;
        padding: 0 5.375rem;
    }
    padding: 0 6.375rem;
    @include flex(flex-start, flex-start);
    margin-top: -26.5rem;
    max-width: 1260px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    &__poster {
        @include tablet {
            display: none;
        }
        flex: 1;
        height: 32rem;
        &__background {
            height: 100%;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            border-radius: 1.875rem;
        }
    }
    &__information {
        width: 70%;
        @include tablet {
            width: 100%;
        }
        padding-left: 2rem;
        position: relative;
        &__title {
            font-size: 3.6rem;
            line-height: 1;
        }
        &__genres {
            margin-bottom: 2.5rem!important;
            span {
                margin-bottom: .5rem;
                margin-right: .5rem;
                display: inline-block;
                cursor: pointer;
                padding: .5rem 1.5rem;
                border: 3px solid #fff;
                border-radius: 20px;
                font-size: .8rem;
                font-weight: 600;
                background-color: $background-body;
                &:hover {
                    background-color: #fff;
                    color: $main-color;
                }
            }   
        }
        &__button {
            button {
                width: 9rem;
                height: 2.5rem;
                border-radius: 20px;
                color: #fff;
                font-weight: 600;
                margin-right: 1.2rem;
                border: 2px $main-color solid;
                background-color: $main-color;
                transition: .3s all;
                &:hover {
                    box-shadow: 0px 0 20px $main-color;
                }
            }
        }
        &>div {
            margin-bottom: 2rem;
        }
    }
}
.movie-casting {
    padding: 0rem 9.375rem;
    @include tablet {
        padding: 0rem 3.375rem;
        padding-top: 7rem;
    }
    padding-bottom: 0;
    h3 {
        font-weight: 600;
        margin-bottom: 1rem;
    }
    &__info {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
        gap: 10px;
        &>div {
            margin-right: .5rem;
            p {
                font-size: .8rem;
                margin-top: .2rem;
            }
        }
        img {
            width: 100px;
        }
    }
}
.movie-trailer {
    padding: 2rem 9.375rem;
    @include tablet {
        padding: 2rem 3.375rem;
    }
    &__item {
        padding: 2rem 0;
        &__name {
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 1rem;
        }
        &__video {
            height: 700px;
            @include tablet {
                height: 410px;
            }
        }

    }
}
.movie-similar {
    &__name {
        h3 {
            padding: 0rem 9.375rem;
            @include tablet {
                padding: 0rem 3.375rem;
            }
            font-size: 1.5rem;
            font-weight: 600;
            margin-bottom: 0;
            
        }
    }
    &__list {
        padding-top: 2rem;
        @include tablet {
            padding-top: 0rem;
        }
    }
}