<section *ngIf="movieData">
  <div class="header" [ngStyle]="{'background-image': 'url(' + movieData.backdrop_path + ')'}">
  </div>
  <div class="movie-content">
    <div class="movie-content__poster">
      <div class="movie-content__poster__background" [ngStyle]="{'background-image': 'url(' + movieData.poster_path + ')'}">
      </div>
    </div>
    <div class="movie-content__information">
      <div class="movie-content__information__title">
        {{ movieData.title || movieData.name }}
      </div>
      <div class="movie-content__information__genres">
        <span 
          *ngFor="let item of movieData.genres" 
          [routerLink]="menuType === categories.MOVIES ? ['/movies/genre', item.name] : ['/tv-series/genre', item.name]">
          {{item.name}}</span>
      </div>
      <div *ngIf="movieData.release_date">
        Release date: {{ movieData.release_date }}
      </div>
      <div class="movie-content__information__overview">
        {{ movieData.overview }}
      </div>
      <div *ngIf="ratingInfo">Ratings: {{ratingInfo.rating}} ({{ratingInfo.ratingCount}} votes)</div>
      <div class="movie-content__information__button" *ngIf="!movieData.seasons || !movieData.seasons.length">
        <button [routerLink]="menuType === categories.MOVIES ? ['/movies/watch', movieLink] : ['/tv-series/watch', movieLink]">
          Watch Now
        </button>
      </div>
      <div class="movie-content__information__button" *ngIf="movieData.seasons">
          <button (click)="scrollToSeason()">
            Watch Now
          </button>
      </div>
    </div>
  </div>
  <div class="movie-casting">
    <h3>Casts</h3>
    <div class="movie-casting__info">
      <div class="" *ngFor="let credit of credits">
        <img *ngIf="credit.profile_path" src="{{appConfig.W500IMAGE(credit.profile_path)}}" alt="">
        <p *ngIf="credit.profile_path && (credit.name || name.original_name)">{{ credit.name || name.original_name }}</p>
      </div>
    </div>
  </div>
  <div *ngIf="movieData.seasons && movieData.seasons.length" class="movie-season" id="season">
    <h3>Seasons: </h3>
    <div class="movie-season__item">
      <div *ngFor="let item of movieData.seasons">
          <div *ngIf="item.episode_count > 0" [routerLink]="['/tv-series/watch', movieLink, item.season_number, 1]">
            <div class="movie-season__item--poster" >
              <img src="{{appConfig.W500IMAGE(item.poster_path)}}" alt="">
              <div class="play-button">
                <button><i class='bx bx-play'></i></button>
              </div>
            </div>
            <div class="movie-season__item--info" >
              <div class="ovie-season__item--info--number" *ngIf="item.air_date">{{item.name}}({{item.air_date.substring(0, 4)}}) - {{item.episode_count}} episodes</div>
              <div class="ovie-season__item--info--number" *ngIf="!item.air_date">{{item.name}} - {{item.episode_count}} episodes</div>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="movie-trailer">
    <h3>Trailer: </h3>
    <div class="movie-trailer__item">
      <div class="" *ngFor="let video of movieVideos">
        <div class="movie-trailer__item__video" *ngIf="video.site === categories.YOUTUBE">
          <iframe [src]="video.trailer | safe: 'resourceUrl'" id="ytplayer" frameborder="0" width="100%" height="100%"></iframe>
        </div>
        <div class="movie-trailer__item__name" *ngIf="video.site === categories.YOUTUBE">{{video.name}}:</div>
      </div>
    </div>
  </div>
  <div class="movie-similar" *ngIf="moviesSimilar && moviesSimilar.length">
    <div class="movie-similar__name">
      <h3>{{categories.SIMILAR_MOVIES}}</h3>
    </div>
    <div class="movie-similar__list">
      <app-movie-list  [category]="menuType" [movieType]="" [movieList]="moviesSimilar"></app-movie-list>
    </div>
  </div>
</section>
