<div class="watch-movie">
  <div class="watch-movie__player" *ngIf="channelActive === CHANNEL_ACTIVE.imdb ; else elseChannel">
    <iframe *ngIf="movieUrlTMDB" [src]="movieUrlIMDB | safe: 'resourceUrl'" frameborder="0" width="100%" height="100%" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
  </div>
  <ng-template #elseChannel>
    <div class="watch-movie__player">
      <iframe *ngIf="movieUrlTMDB" [src]="movieUrlTMDB | safe: 'resourceUrl'" frameborder="0" width="100%" height="100%" allowFullScreen="true" webkitallowfullscreen="true" mozallowfullscreen="true"></iframe>
    </div>
  </ng-template>
  <div class="watch-movie__content" *ngIf="movieData">
    <div class="watch-movie__content--channel">
      <p>Chọn kênh khác nếu phim không có vietsub hoặc phim không load được:</p>
      <div >
        <div [ngClass]="{active: channelActive === CHANNEL_ACTIVE.imdb}" (click)="chooseChannel(CHANNEL_ACTIVE.imdb)">IMDB</div>
        <div [ngClass]="{active: channelActive === CHANNEL_ACTIVE.tmdb}" (click)="chooseChannel(CHANNEL_ACTIVE.tmdb)">TMDB</div>
      </div>
    </div>
    <h3>{{ movieData.title || movieData.name }} <span *ngIf="season">({{episodes.name}})</span></h3>
    <div class="watch-movie__content--release" *ngIf="movieData.release_date">
      Release date: {{ movieData.release_date }}
    </div>
    <div class="watch-movie__content--overview">
      {{ movieData.overview }}
    </div>
    <div class="watch-movie__content--episodes" *ngIf="episodes">
      <h3>Episodes: </h3>
      <div>
        <span 
          *ngFor="let item of counter(episodes.episode_count); index as i" 
          [ngClass]="{'active': i+1 == episode}"
          [routerLink]="['/tv-series/watch', movieID, season, i+1]"
        >
          {{i + 1}}
        </span>
      </div>
    </div>
  </div>
</div>
