@import '../../../../scss/mixin.scss';
@import '../../../../scss/variable.scss';
.watch-movie {
    padding: 0rem 9.375rem;
    @include tablet {
        padding: 0rem 3.375rem;
        padding-top: 9rem;
    }
    padding-top: 9rem;
    &__player {
        height: 90vh;
        @include tablet {
            height: 44vh;

        }
    }
    &__content {
        h3 {
            padding-top: 2rem;
            font-weight: 600;
        }
        &--release {
            padding: 1rem 0;
        }
    }
}