<div class="movie-list-container">
  <div class="movie-list-container__title" *ngIf="movieTypeText">
    <h2>{{movieTypeText}}</h2>
    <button [routerLink]="category === categories.MOVIES ? ['/movies'] : ['/tv-series']" routerLinkActive="router-link-active"  class="slide-content__infor__button--trailer" (click)=seeMore()>See more</button>
  </div>
  <div class="movie-list-container__content">
    <swiper *ngIf="config && movieList && movieList.length" [config]="config">
      <div class="swiper-slide" *ngFor="let movie of movieList" >
          <div class="slide-content" [routerLink]="category === categories.MOVIES ? ['/movies/detail', movie.id] : ['/tv-series/detail', movie.id]">
              <img src={{appConfig.W500IMAGE(movie.poster_path)}} alt="movie.poster_path">
              <div class="play-button">
                <button><i class='bx bx-play'></i></button>
              </div>
          </div>
          <div class="name">
            <h3 [routerLink]="category === categories.MOVIES ? ['/movies/detail', movie.id] : ['/tv-series/detail', movie.id]"> {{ movie.title || movie.name }}</h3>
          </div>
      </div>
    </swiper>
  </div>
</div>