@import './scss/mixin.scss';
@import './scss/variable.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif!important;
    background-color: $background-body!important;
    color: $text-color!important;
    @include mobile {
        margin-bottom: 3rem;
    }
    ::selection {
        background: $main-color; 
    }
    ::-moz-selection {
        background: $main-color; 
    }
    ::-webkit-selection {
        background: $main-color; 
    }
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    @include tablet {
        font-size: 80%;
    }

    @include mobile {
        font-size: 60%;
    }
}

a {
    text-decoration: none!important;
    color: $text-color;
}

li, ul {
    list-style-type: none;
    margin-bottom: 0!important;
    float: left;
}

button, input {
    outline: none;
}

img {
    max-width: 100%;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);
	background-color: rgba(0,0,0,.1);;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 8px;
	background-color: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb
{
	border-radius: 8px;
	background: rgba(0,0,0,.9);
}


.lds-dual-ring {
    width: 100%;
    height: 100%;
    display: none;
    position: fixed;
    background-color: $background-body;
    top: 0;
    left: 0;
    z-index: 10000;
    &:after {
        content: " ";
        display: block;
        width: 64px;
        height: 64px;
        margin: 0 auto;
        border-radius: 50%;
        border: 6px solid $text-color;
        border-color: $text-color transparent $text-color transparent;
        animation: lds-dual-ring 1.2s linear infinite;
        }
    @keyframes lds-dual-ring {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

.loaded {
    @include flex(center, center);
}

